$phone-portrait-max: 480px;
$phone-landscape-max: 568px;
$tablet-portrait-min: 641px;
$tablet-portrait-max: 768px;
$tablet-landscape-min: 769px;
$tablet-landscape-max: 1024px;
$desktop-min: 1025px;
$desktop-max: 1399px;
$desktop-mid: 1600px;
$xl-desktop-min: 1441px;
$xl-desktop-max: 1920px;
$xxl-desktop-min: 1921px;

//Pure css units
$sm: 767px;
$md: 991px;
$lg: 1199px;
$xl: 1280px;
