.faq-hero {
  position: relative;
  margin-top: 30px;
  .thumbnail {
    position: relative;
  }
  img {
    max-width: 100%;
  }
  .banner-overlay {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba($color: $black, $alpha: 0.5);
  }
  .page-title {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    h1 {
      font-family: 'Poppins-Bold';
      font-weight: 700;
      font-size: 51px;
      line-height: 77px;
      letter-spacing: 1.02px;
      color: $white;
      text-align: center;
    }
  }
}

.faqs-section {
  position: relative;
  margin-bottom: 144px;
  h3 {
    font-family: 'Poppins-Bold';
    font-weight: 700;
    font-size: 42px;
    line-height: 63px;
    letter-spacing: 0.84px;
    color: $text;
    margin-bottom: 31px;
    margin-top: 50px;
  }
}

@media screen and (max-width: 500px) {
  .faq-hero {
    min-height: 250px;
    .thumbnail {
      min-height: 250px;
    }
  }
}
